---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Moikka ja tervetuloa!</h1>
			<p>
				Voit tutustua uusimpiin <a href="/blog">blogkirjoituksiini</a>. P채채osin sivuan n채iss채 erilaisia kokeilujani Astron parissa.
			</p>
		</main>
		<Footer />
	</body>
	
</html>
