---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fi">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Tervetuloa Harri Kilpiön hiekkalaatikolle!</h1>
			<p>
				Voit tutustua uusimpiin <a href="/blog">blogikirjoituksiini</a>. Pääosin sivuan näissä erilaisia kokeilujani <a href="https://astro.build">Astron</a>  ja muiden <a href="/minusta/">kiinnostuksen kohteiden</a> parissa. 
			</p>
		</main>
		<Footer />
	</body>
	
</html>
