---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Minusta"
	description="Harri Kilpiön esittelysivu"
	pubDate={new Date('January 08 2024')}
>
	<p>
		Moikka, olen kahden lapsen isä ja suunnittelija / kehittäjä Järvenpäästä, Uudeltamaalta. 
	</p>
	
	<p>Asioita joista olen mm. kiinnostunut:</p>
	
	<ul>
		<li>CSS ja sen mahdollistamat asiat esim. CSS Grid</li>
		<li>hyvin suunnitellut gridit</li>
		<li>hyvin muotoillut ulkoasut</li>
		<li>hienosti suunnittelut muotoilukirjastot (Design Systems)</li>
		<li>typografia</li>
		<li>saavutettavuus</li>
		<li>yhteissuunnittelu</li>
		<li>sankarisuunnittelija myyttien purkaminen</li>
	</ul>
</Layout>
