---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Minusta"
	description="Harri Kilpiön esittelysivu"
	pubDate={new Date('January 08 2024')}
>
	<p>
		Moikka, olen kahden lapsen isä ja suunnittelija / kehittäjä Järvenpäästä, Uudeltamaalta. 
	</p>
	
	<p>Asioita joista olen mm. kiinnostunut:</p>
	
	<ul class="interest-topics">
		<li>CSS ja sen mahdollistamat asiat esim. CSS Grid</li>
		<li>Hyvin suunnitellut gridit</li>
		<li>Hyvin muotoillut ulkoasut</li>
		<li>Hienosti suunnittelut muotoilukirjastot (Design Systems)</li>
		<li>Typografia</li>
		<li>Saavutettavuus</li>
		<li>Yhteissuunnittelu</li>
		<li>Sankarisuunnittelija myyttien purkaminen</li>
	</ul>
</Layout>
