---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Etusivu</HeaderLink>
			<HeaderLink href="/blog">Blogi</HeaderLink>
			<HeaderLink href="/minusta">Minusta</HeaderLink>
		</div>
		
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 .5em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	
	h2 {
		margin: 0;
		font-size: 1rem;
		line-height: 1.2;
	}

	h2 {
		font-size:var(--fluid-13-18);
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a { 
		font-size:var(--fluid-13-18);	
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	@media (prefers-color-scheme: dark) {
		header {
			background:#1b1b1b;
			border-bottom: 1px solid rgba(255,255,255,0.6);
		}

		header a {
			color:#fff;
			
		}

		header a:hover {
			background-color: #777;
		}

		nav a.active {
			border-bottom-color: #fff;
		}

	}

</style>
